In [1]:
import sys

In [3]:
print (sys.path)

['/Users/ryumugil', '/opt/anaconda3/lib/python312.zip', '/opt/anaconda3/lib/python3.12', '/opt/anaconda3/lib/python3.12/lib-dynload', '', '/opt/anaconda3/lib/python3.12/site-packages', '/opt/anaconda3/lib/python3.12/site-packages/aeosa', '/opt/anaconda3/lib/python3.12/site-packages/setuptools/_vendor']

In [16]:
import pandas as pd
import numpy as pd

In [14]:
# Example DataFrame
df = pd.DataFrame({
    "Year": [1901, 1910, 1920, 1930, 1940],    # numeric column
    "Event": ["Event A", "Event B", "Event C", "Event D", "Event E"]  # text column
})

# Display the DataFrame
df

   Year    Event
0  1901  Event A
1  1910  Event B
2  1920  Event C
3  1930  Event D
4  1940  Event E

In [22]:
df["Year_plus_10"] = df["Year"].apply(lambda x: x + 10)
df["Year_times_2"] = df["Year"].apply(lambda x: x * 2)
df["Year_minus_5"] = df["Year"].apply(lambda x: x - 5)
df

   Year    Event  Year_plus_10  Year_times_2  Year_minus_5
0  1901  Event A          1911          3802          1896
1  1910  Event B          1920          3820          1905
2  1920  Event C          1930          3840          1915
3  1930  Event D          1940          3860          1925
4  1940  Event E          1950          3880          1935

In [28]:
df["Flag"] = df["Event"].apply(lambda x: "Yes" if x in ["Event A", "Event B"] else "No")
df

   Year    Event  Year_plus_10  Year_times_2  Year_minus_5 Flag  Flag_Boolean
0  1901  Event A          1911          3802          1896  Yes         False
1  1910  Event B          1920          3820          1905  Yes         False
2  1920  Event C          1930          3840          1915   No          True
3  1930  Event D          1940          3860          1925   No          True
4  1940  Event E          1950          3880          1935   No          True

In [26]:
df["Flag_Boolean"] = df["Year"].apply(lambda x: True if x >= 1920 else False)
df

   Year    Event  Year_plus_10  Year_times_2  Year_minus_5 Flag  Flag_Boolean
0  1901  Event A          1911          3802          1896  Yes         False
1  1910  Event B          1920          3820          1905  Yes         False
2  1920  Event C          1930          3840          1915   No          True
3  1930  Event D          1940          3860          1925   No          True
4  1940  Event E          1950          3880          1935   No          True